{% extends 'base.html' %}
{% block content %}

{% block meta %}
<title>Forum Saku-in!</title>
{% endblock meta %}

<h1 class="font-semibold text-xl ml-2">Forum</h1>

<div class="dropdown" style="justify-content: left;">
  <label tabindex="0" class="btn m-1 btn-outline btn-circle btn-secondary">Menu</label>
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
    <li><a class="dropdown-item" href="/forum/deleteforumuser">Delete Forum</a></li>
    <li><a class="dropdown-item" class="btn btn-primary" href="/forum/deletekomenuser">Delete Comment</a></li>
  </ul>
</div>

<!-- The button to open modal -->
<label for="my-modal" class="btn modal-button mb-5 btn-outline btn-secondary">Create Forum</label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <div class="form-control min-w-full">
        <div class="form-control">
            <label class="label">
              <span class="label-text">Forum Title</span>
            </label>
            <input type="text" class="input input-bordered" id="judul"/>
        </div>
        <label class="label">
          <span class="label-text">Forum Content</span>
        </label> 
        <div class="form-control min-w-full">
            <textarea class="textarea textarea-bordered" id="isi"></textarea> 
        </div>
      </div>
    <div class="modal-action">
      <label for="my-modal" class="btn btn-outline btn-primary" onclick="update()">Create</label>
    </div>
    <div class="modal-action">
      <label for="my-modal" class="btn btn-outline btn-accent">Close</label>
    </div>
  </div>
</div>

<div class="flex flex-col w-3/4" id="container">
    
</div>

<script>
    function show(){
        $.get("/forum/jsonforum", function(data){
            $("#container").html("")
            for(let i = 0; i < data.length; i++){
                let d = new Date(data[i].fields.tanggal.substring(0,10));
                const date = d.toDateString()
                $("#container").append(`<div class="stats stats-vertical shadow-xl mb-5">
  
  <div class="stat bg-primary text-primary-content">
    <div class="stat-title text-3xl font-semibold">${data[i].fields.judul}</div>
    <div class="stat-title text-lg font-bold ">${data[i].fields.isi}</div>
    <div class="stat-desc">Added : ${date}</div>
  </div>
  
  <div class="stat">
    <div class="stat-desc text-2xl">${data[i].fields.komenPertama}</div>
    <div class="card-actions justify-start">
       <a class="btn btn-info" href="/forum/komen/${data[i].pk}">Liat Komentar</a>
    </div>
  </div>
  
</div>`)
                
                
                
                
                
                
                
//                 <div class="card bg-primary text-primary-content mb-3">
//   <div class="card-body">
//     <h2 class="card-title">${data[i].fields.judul}</h2>
//     <p>${data[i].fields.isi}</p>
//     <ol class="list-disc">
//   <li>Added : ${date}</li>
//     </ol>
//   </div>
//   <div class="card-actions justify-end">
//       <a class="btn btn-info" href="/forum/komen/${data[i].pk}">Show More</a>
//     </div>
// </div>`)
            }
        })
    }

    $(document).ready(function(){
          show();
      });

      function update(){
        $.ajax({
          url: "/forum/addforum/",
          method: "POST",
          headers: {
            "X-CSRFToken": getCookie("csrftoken")
          },
          data:{
            judul : $('#judul').val(),
            isi : $("#isi").val(),
          },
        success: function(){
          show();
        },
      })}

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }


</script>



{% endblock content %}

