{% extends 'base.html' %}
{% load static %}

{% block meta %}

<title>Berita Admin</title>
<script src="{% static 'js/berita_text.js' %}"></script>

{% endblock meta %}

{% block content %}

<div id="show" class="flex flex-col gap-y-2 gap-x-2 w-5/6">

<h1 class="text-4xl items-center text-center font-bold">Berita Finansial Terkini</h1>

<p class="items-center text-center font-bold">Akses Admin</p>

<p class="items-center text-center">Last Seen News : {{ last_news }}</p>
<p class="items-center text-center">News Read Count This Session : {{ count }}</p>

<br></br>


<div class="flex flex-col md:flex-row gap-x-2 items-center justify-center gap-y-2">
  <div>
    <p class="font-bold">Category Filter : </p>
  </div>
  <div><button class="btn btn-secondary" onclick="show_all()">All</button></div>
  <div><button class="btn btn-secondary" onclick="show_filter('uang')">Money</button></div>
  <div><button class="btn btn-secondary" onclick="show_filter('bank')">Bank</button></div>
  <div><button class="btn btn-secondary" onclick="show_filter('ekonomi')">Economy</button></div>
  <div><button class="btn btn-secondary" onclick="show_filter('kripto')">Crypto</button></div>
  <div><button class="btn btn-secondary" onclick="show_filter('saham')">Stock</button></div>
</div>

<br></br>

<div class="flex flex-col justify center items-center w-full">

  <a class="btn btn-primary" onclick="createBerita()">Create Berita</a>

</div>


<br></br>

<div class="flex flex-col gap-y-2 gap-x-2" id="container">
    
</div>

</div>

<div id="create" class="w-5/6">

  <div class="flex flex-col gap-y-2 gap-x-2 items-center">
    <button class="btn btn-error" onclick="show_all()">Back</button>
  </div>
  
  <br>
  <form id="friend-form" class="flex flex-col gap-y-4 gap-x-2 items-center">
    {% csrf_token %}
    <table class="table w-full">
      <thead>

      </thead>
      <tbody>

      {% for i in form %}
      <tr>

        <td class="bg-primary">
          {{i.label_tag}} <p> </p>{{i}}
        </td>
      </tr>
      {% endfor %}

    </tbody>
    </table> 
    <button type="submit" value="Submit" class="btn btn-secondary">Create</button>
</form>

<script src="{% static 'js/berita_admin.js' %}"></script>

{% endblock content %}