{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Berita Saku-in!</title>
<script src="{% static 'js/berita_text.js' %}"></script>
{% endblock %}

{% block content %}
<div class="flex flex-col gap-y-2 items-center w-11/12">
  {% for i in data %}
  <h1 class="text-3xl font-bold">{{i.title}}</h1>
  <p>{{i.content}}</p>
  <ul class="list-disc">
    <li>Category : {{i.category}}</li>
    <li>Added : {{i.date}}</li>
    <li>Writer : {{i.writer}}</li>
    <li>Source : {{i.source}}</li>
    {% csrf_token %}
  </ul>
  {% if user.is_superuser %}
  <a class="btn btn-error" href="{% url 'berita:delete_filter' i.pk %}">Delete</a>
  {% endif %}
  <a class="btn btn-primary" href="{% url 'berita:show' %}">Back</a>
  {% endfor %}
</div>
{% endblock content %}
