{% extends 'base.html' %}

{% block meta %}
<script>
  $(document).ready(function () {
    $(".berita-link").addClass("text-primary");
  });
</script>
{% endblock meta %}

{% block content %}
<div class="form-control w-5/6 flex flex-col gap-y-2">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Title</span>
    </label>
    <input type="text" class="input input-bordered" id="title" />
  </div>

  <div class="form-control min-w-full">
    <label class="label">
      <span class="label-text">Isi Berita</span>
    </label>
    <textarea class="textarea textarea-bordered" id="content"></textarea>
  </div>
  <label class="label">
    <span class="label-text">Category</span>
  </label>
  <div class="form-control">
    <label class="label cursor-pointer">
      <span class="label-text">Uang</span>
      <input type="radio" name="radio-6" class="radio" value="uang" checked />
    </label>
  </div>
  <div class="form-control">
    <label class="label cursor-pointer">
      <span class="label-text">Bank</span>
      <input type="radio" name="radio-6" class="radio" value="bank" />
    </label>
  </div>
  <div class="form-control">
    <label class="label cursor-pointer">
      <span class="label-text">Ekonomi</span>
      <input type="radio" name="radio-6" class="radio" value="ekonomi" />
    </label>
  </div>
  <div class="form-control">
    <label class="label cursor-pointer">
      <span class="label-text">Kripto</span>
      <input type="radio" name="radio-6" class="radio" value="kripto" />
    </label>
  </div>
  <div class="form-control">
    <label class="label cursor-pointer">
      <span class="label-text">Saham</span>
      <input type="radio" name="radio-6" class="radio" value="saham" />
    </label>
  </div>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Writer</span>
    </label>
    <input type="text" class="input input-bordered" id="writer" />
  </div>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Source</span>
    </label>
    <input type="text" class="input input-bordered" id="source" />
  </div>
  <div><button class="btn btn-secondary" onclick="update()">Create</button></div>
</div>

<script>
  function update() {
    $.ajax({
      url: "/berita/add/",
      method: "POST",
      headers: {
        "X-CSRFToken": getCookie("csrftoken")
      },
      data: {
        title: $('#title').val(),
        content: $("#content").val(),
        category: $("input[type='radio'][name='radio-6']:checked").val(),
        writer: $("#writer").val(),
        source: $("#source").val(),
      },
      success: function () {
        window.location.href = "/berita/";
      },
    })
  }

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
</script>
{% endblock content %}