{% extends 'base.html' %}
{% block content %}

<h1 style="text-align: center;">Berita Finansial Terkini</h1>

<br></br>

  <div class="flex flex-row">
    <div><p>Category Filter : </p></div>
    <div><button class="btn btn-secondary" onclick="show_all()">Semua</button></div>
    <div><button class="btn btn-secondary" onclick="show_filter('uang')">Uang</button></div>
    <div><button class="btn btn-secondary" onclick="show_filter('bank')">Bank</button></div>
    <div><button class="btn btn-secondary" onclick="show_filter('ekonomi')">Ekonomi</button></div>
    <div><button class="btn btn-secondary" onclick="show_filter('kripto')">Kripto</button></div>
    <div><button class="btn btn-secondary" onclick="show_filter('saham')">Saham</button></div>
  </div>

<br></br>

<div class="flex flex-col" id="container">
    
</div>

<script>
    function show_all(){
        $.get("/berita/json", function(data){
            $("#container").html("")
            for(let i = 0; i < data.length; i++){
                let d = new Date(data[i].fields.date.substring(0,10));
                const date = d.toDateString()
                $("#container").append(`<div class="card bg-primary text-primary-content">
  <div class="card-body">
    <h2 class="card-title">${data[i].fields.title}</h2>
    <ol class="list-disc">
  <li>Added : ${date}</li>
  <li>Category : ${data[i].fields.category}</li>
  <li>Writer : ${data[i].fields.writer}</li>
    </ol>
  </div>
  <div class="card-actions justify-end">
      <a class="btn btn-primary" href="/berita/show/${data[i].pk}">Show More</a>
    </div>
</div>`)
            }
        })
    }

    $(document).ready(function(){
          show_all();
      });

    function show_filter(filter){
        $.get(`/berita/json`, function(data){
            $("#container").html("")
            for(let i = 0; i < data.length; i++){
                if(data[i].fields.category == filter){
                let d = new Date(data[i].fields.date.substring(0,10));
                const date = d.toDateString()
                $("#container").append(`<div class="card bg-primary text-primary-content">
  <div class="card-body">
    <h2 class="card-title">${data[i].fields.title}</h2>
    <ol class="list-disc">
  <li>Added : ${date}</li>
  <li>Category : ${data[i].fields.category}</li>
  <li>Writer : ${data[i].fields.writer}</li>
    </ol>
    <div class="card-actions justify-end">
      <a class="btn btn-primary" href="/berita/show/${data[i].pk}">Show More</a>
    </div>
  </div>
</div>`)}
            }
        })
    }


</script>
{% endblock content %}