{% extends 'base.html' %}


{% load static %}


{% block meta %}
<title>Berita Saku-in!</title>
<script>
  $(document).ready(function () {
    $(".berita-link").addClass("text-primary");
  });
</script>
{% endblock meta %}


{% block content %}

<div class="flex flex-col gap-x-2 gap-y-2">

<h1 class ="text-4xl items-center text-center font-bold">Berita Finansial Terkini</h1>




<p class="items-center text-center">Last Seen News : {{ last_news }}</p>
<p class="items-center text-center">News Read Count This Session : {{ count }}</p>


<div class="flex flex-col md:flex-row gap-x-2 items-center gap-y-2">
  <div><p class="font-bold">Category Filter : </p></div>
  <div><button class="btn btn-secondary" onclick="show_all()">All</button></div>
  <div><button class="btn btn-secondary" onclick="show_filter('uang')">Money</button></div>
  <div><button class="btn btn-secondary" onclick="show_filter('bank')">Bank</button></div>
  <div><button class="btn btn-secondary" onclick="show_filter('ekonomi')">Economy</button></div>
  <div><button class="btn btn-secondary" onclick="show_filter('kripto')">Crypto</button></div>
  <div><button class="btn btn-secondary" onclick="show_filter('saham')">Stock</button></div>
</div>

<br></br>

<div class="flex flex-col gap-y-2 gap-x-2" id="container">
    
</div>

</div>

<script src="{% static 'js/berita_user.js' %}"></script>

{% endblock content %}
