{% extends 'base.html' %}

{% block meta %}

{% if user.is_superuser %}

<title>Hapus Donasi</title>

{% else %}

<title>Donasi Saya</title>

<script>
  $(document).ready(function () {
    $(".donasi-link").addClass("text-primary");
  });
</script>


{% endblock meta %}

{% block content %}



<div class="flex flex-col gap-y-2" id="card-row">

  {% if user.is_superuser %}

  <h1 class="text-4xl font-bold">Semua Donasi</h1>

{% else %}

<h1 class="text-4xl font-bold">Donasi Saya</h1>

{% endif %}  

{% for d in donasi_saya %}
<div class="col-span-2">
    <div class="card w-96 bg-primary text-primary-content">
        <div class="card-body">
          <h2 class="card-title">{{d.title}}</h2>
          <p>Terkumpul: <b>{{d.achieved}}</b></p>
          <p>Target: <b>{{d.target}}</b></p>
          <div class="card-actions justify-end">
            <a class="btn" href="/donation/transaksi_donasi/{{d.pk}}">Detail</a>
            <a class="btn btn-error" href="/donation/hapus_donasi/{{d.pk}}">Hapus</a>
          </div>
        </div>
      </div>
</div>


{% endfor %}
<a class="btn" href="{% url 'donation:index' %}">Kembali</a>
</div>
{% endblock content %}