{% load static %}
<!DOCTYPE html>

<html lang="en" data-theme="emerald" style="scroll-behavior: smooth;">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/951fd64367.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            'poppins': ['Poppins', 'sans-serif'],
            'roboto': ['Roboto', 'serif'],
            'nunito': ['Nunito', 'sans-serif'],
            'raleway': ['Raleway', 'sans-serif'],
          },
          backgroundImage: {
            'homepage': "url('/static/images/homepage.jpg')",
          }
        },
      },
    }
  </script>

  <script>
    $(document).ready(function () {
      toggleDropdown();
    });

    function toggleDropdown() {
      $("#button-dropdown").click(function () {
        $("#navbar-dropdown").toggle();
        $("#logo-dropdown").toggleClass("fa-rotate-270");
      });
    }
  </script>
  {% block meta %} {% endblock meta %}
</head>

<body class="min-h-screen bg-gradient-to-br from-primary to-white">
  <nav class="font-roboto font-bold">
    <!-- mobile view -->
    <div class="md:hidden">
      <div
        class="w-full fixed top-0 z-50 p-4 flex justify-between bg-black bg-opacity-90 text-white cursor-pointer rounded-b-3xl items-center">

        <i class="fa-solid fa-money-bills"></i>
        <p class="text-xl ml-4 font-bold">Saku-In</p>
        {% if user.is_authenticated %}
        <a href="{% url 'homepage:logout' %}"><i
            class="fa-solid fa-right-to-bracket transition duration-200 hover:scale-110 hover:text-primary"></i></a>
        {% else %}
        <a href="{% url 'homepage:logout' %}"><i
         class="fa-solid fa-right-from-bracket transition duration-200 hover:scale-110"></i></a>
        {% endif %}
      </div>

      <div
        class="w-full fixed bottom-0 z-50 p-4 flex justify-between bg-black bg-opacity-90 text-white cursor-pointer rounded-t-3xl items-center">
        <a class="home-link" href="{% url 'homepage:homepage' %}">
          <i class="fa-solid fa-home transition duration-200 hover:scale-110 hover:text-primary"></i>
        </a>
        {% if user.is_authenticated %}
        <a class="dompet-link" href="{% url 'dompet:show_dompet' %}">
          <i class="fa-solid fa-wallet transition duration-200 hover:scale-110 hover:text-primary"></i>
        </a>
        {% endif %}
        <a class="berita-link" href="{% url 'berita:show' %}">
          <i class="fa-solid fa-newspaper transition duration-200 hover:scale-110 hover:text-primary"></i>
        </a>
        <a class="forum-link" href="{% url 'forum:show_forum' %}">
          <i class="fa-solid fa-comments transition duration-200 hover:scale-110 hover:text-primary"></i>
        </a>
        <a class="kurs-link" href="{% url 'kurs:kurs' %}">
          <i class="fa-solid fa-chart-line transition duration-200 hover:scale-110 hover:text-primary"></i>
        </a>
        {% if user.is_authenticated %}
        <a class="donasi-link" href="{% url 'donation:index' %}">
          <i class="fa-solid fa-hand-holding-heart transition duration-200 hover:scale-110 hover:text-primary"></i>
        </a>
        {% endif %}
      </div>
    </div>
    <!-- tablet view -->
    <div class="hidden md:block">
      {% if not sidebar_hidden %}
      <div
        class="h-full w-48 fixed left-0 z-50 shadow-2xl p-4 flex flex-col gap-y-3 bg-black text-white cursor-pointer pl-5">

        <div class="flex gap-x-3 items-center text-2xl mb-3">
          <i class="fa-solid fa-money-bills"></i>
          <p>Saku-In</p>
        </div>
        <a class="home-link" href="{% url 'homepage:homepage' %}">
          <div class="flex gap-x-4 items-center text-sm">
            <i class="fa-solid fa-home text-lg"></i>
            <p class="w-full hover:text-primary duration-200">Home</p>
          </div>
        </a>
        {% if user.is_authenticated %}
        <a class="dompet-link" href="{% url 'dompet:show_dompet' %}">
          <div class="flex gap-x-4 items-center text-sm">
            <i class="fa-solid fa-wallet text-lg"></i>
            <p class="w-full hover:text-primary duration-200">Dompet</p>
          </div>
        </a>
        {% endif %}
        <a class="berita-link" href="{% url 'berita:show' %}">
          <div class="flex gap-x-4 items-center text-sm">
            <i class="fa-regular fa-newspaper text-lg"></i>
            <p class="w-full hover:text-primary duration-200">Berita</p>
          </div>
        </a>
        <a class="forum-link" href="{% url 'forum:show_forum' %}">
          <div class="flex gap-x-4 items-center text-sm">
            <i class="fa-solid fa-comment text-lg"></i>
            <p class="w-full hover:text-primary duration-200">Forum</p>
          </div>
        </a>
        <a class="kurs-link" href="{% url 'kurs:kurs' %}">
          <div class="flex gap-x-4 items-center text-sm">
            <i class="fa-solid fa-chart-line text-lg"></i>
            <p class="w-full hover:text-primary duration-200">Kurs</p>
          </div>
        </a>
        {% if user.is_authenticated %}
        <a class="donasi-link" href="{% url 'donation:index' %}">
          <div class="flex gap-x-4 items-center text-sm">
            <i class="fa-solid fa-hand-holding-dollar text-lg"></i>
            <p class="w-full hover:text-primary duration-200">Donasi</p>
          </div>
        </a>
        {% endif %}
      </div>
      {% endif %}

      <div
        class="w-full fixed top-0 z-40 {% if sidebar_hidden %}justify-between{% else %}justify-end{% endif %} p-4 flex bg-black bg-opacity-90 text-white cursor-pointer items-center">
        {% if sidebar_hidden %}
        <div class="flex gap-x-3 items-center text-2xl">
          <i class="fa-solid fa-money-bills"></i>
          <p>Saku-In</p>
        </div>
        <div class="flex gap-x-10">
          <a class="home-link" href="{% url 'homepage:homepage' %}">
            <p class="hover:text-primary duration-200">Home</p>
          </a>
          {% if user.is_authenticated %}
          <a class="dompet-link" href="{% url 'dompet:show_dompet' %}">
            <p class="hover:text-primary duration-200">Dompet</p>
          </a>
          {% endif %}
          <a class="berita-link" href="{% url 'berita:show' %}">
            <p class="hover:text-primary duration-200">Berita</p>
          </a>
          <a class="forum-link" href="{% url 'forum:show_forum' %}">
            <p class="hover:text-primary duration-200">Forum</p>
          </a>
          <a class="kurs-link" href="{% url 'kurs:kurs' %}">
            <p class="hover:text-primary duration-200">Kurs</p>
          </a>
          {% if user.is_authenticated %}
          <a class="dompet-link" href="{% url 'donation:index' %}">
            <p class="hover:text-primary duration-200">Donasi</p>
          </a>
          {% endif %}
        </div>
        {% endif %}

        <div class="flex gap-x-10">
          {% if user.is_authenticated %}
          <p class="duration-200 hover:text-primary">{{ user.username }} {% if user.is_superuser %}(ADMIN){% endif %}
          </p>
          <a href="{% url 'homepage:logout' %}" class="duration-200 hover:text-primary">Log out</a>
          {% else %}
          <a href="{% url 'homepage:login' %}" class="duration-200 hover:text-primary" id="login1">Log in</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>

  <main
    class="{% if not sidebar_hidden %}md:ml-48 overflow-hidden {% endif %} flex flex-col min-h-screen pt-24 pb-16 items-center font-poppins">
    {% if messages %}
    <div class="w-2/3 max-w-sm">
      <ul>
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} shadow-lg py-2">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              class="stroke-current flex-shrink-0 w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <span>{{message}}</span>
          </div>
        </div>
        {% endfor %}
      </ul>
    </div>
    {% endif %} {% block content %} {% endblock content %}
  </main>

  <footer class="footer footer-center p-4 bg-base-300 text-base-content">
    <div>
      <p>Copyright © 2022 - All right reserved by PBP-E11</p>
    </div>
  </footer>
</body>

</html>