{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<h1 class="font-semibold text-3xl ml-2">About Us</h1>
<div class="flex-col md:flex-row gap-x-3">
<div class="card w-96 glass shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Muhammad Rayhan Denel</h2>
    <p>2106752161</p>
    <p>Information System-2021</p>
  </div>
</div>

<div class="card w-96 glass shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Aushaaf Fadhillah</h2>
    <p>NPM</p>
    <p>Computer Science-2021</p>
  </div>
</div>

<div class="card w-96 glass shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Ferry Husnil</h2>
    <p>NPM</p>
    <p>Computer Science-2021</p>
  </div>
</div>

<div class="card w-96 glass shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Bimo Priyohutomo</h2>
    <p>NPM</p>
    <p>Information System-2021</p>
  </div>
</div>

<div class="card w-96 glass shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Muhammad Naufal Zaky Alsar</h2>
    <p>2106752041</p>
    <p>Information System-2021</p>
  </div>
</div>
</div>
{% endblock content %}